* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hw-slider {
  width: 100%;
  height: 100vh;
  background: #e8e8e8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hw-slider .hw-slider-img {
  width: 1000px;
  height: 400px;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}

.hw-slider .hw-slider-img .single-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.hw-slider .hw-slider-img .single-img:nth-child(1) {
  background: url("../images/s-1.jpg") no-repeat center/cover;
}

.hw-slider .hw-slider-img .single-img:nth-child(2) {
  background: url("../images/s-2.jpg") no-repeat center/cover;
}

.hw-slider .hw-slider-img .single-img:nth-child(3) {
  background: url("../images/s-3.jpg") no-repeat center/cover;
}

.hw-slider .hw-slider-img .single-img:nth-child(4) {
  background: url("../images/s-4.jpg") no-repeat center/cover;
}

.hw-slider .hw-slider-img .single-img:nth-child(5) {
  background: url("../images/s-5.jpg") no-repeat center/cover;
}

.hw-slider .hw-slider-img .left, .hw-slider .hw-slider-img .right {
  width: 100px;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e8e8e8;
  font-size: 50px;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.hw-slider .hw-slider-img .left {
  left: -100px;
}

.hw-slider .hw-slider-img .right {
  right: -100px;
}

.hw-slider .hw-slider-img:hover {
  -webkit-transition: .5s;
  transition: .5s;
}

.hw-slider .hw-slider-img:hover .left {
  left: 0px;
}

.hw-slider .hw-slider-img:hover .right {
  right: 0px;
}

.hw-slider .hw-slider-img .slider-bullet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  list-style: none;
}

.hw-slider .hw-slider-img .slider-bullet li {
  width: 20px;
  height: 20px;
  background: #fff;
  margin: 0 8px;
  border-radius: 50%;
  border: 2px solid black;
  cursor: pointer;
  position: relative;
}

.hw-slider .hw-slider-img .slider-bullet li::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 40px;
  background: red;
  border: 1px solid black;
  top: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: none;
}

.hw-slider .hw-slider-img .slider-bullet li:nth-child(1)::before {
  background: url("../images/s-1.jpg") no-repeat center/cover;
}

.hw-slider .hw-slider-img .slider-bullet li:nth-child(2)::before {
  background: url("../images/s-2.jpg") no-repeat center/cover;
}

.hw-slider .hw-slider-img .slider-bullet li:nth-child(3)::before {
  background: url("../images/s-3.jpg") no-repeat center/cover;
}

.hw-slider .hw-slider-img .slider-bullet li:nth-child(4)::before {
  background: url("../images/s-4.jpg") no-repeat center/cover;
}

.hw-slider .hw-slider-img .slider-bullet li:nth-child(5)::before {
  background: url("../images/s-5.jpg") no-repeat center/cover;
}

.hw-slider .hw-slider-img .slider-bullet li:hover::before {
  display: block;
}

.hw-slider .hw-slider-img .slider-bullet .red-border {
  border: 2px solid red !important;
}

.d-none {
  display: none;
  -webkit-transition: 1s;
  transition: 1s;
}
/*# sourceMappingURL=style.css.map */